body{
    text-align: center;
    margin-top:200px;
}

#timer{
    font-size: 140px;
}

#toggle, #reset{
    font-size: 40px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(0,0,0,.7);
    cursor: pointer;
}

#toggle:hover, #reset:hover{
    outline: none;
}

#toggle:focus, #reset:focus{
    outline: none;
}